@{
    ViewBag.Title = "Home Page";
}

<h2>Users:</h2>
<ul>
    @foreach(var u in ViewBag.Users)
    {
        <li>@u.RealName <span style="color:red">aka</span> @u.Nik</li>
    }
</ul>
<div>
    @foreach (string s in ViewBag.TP)
    {
        <h2>@s</h2>       
    }
</div>
<div id="PostStyle">
    @foreach(WebApplication1.Models.NikPost res  in ViewBag.query)
    {
        <p class="s1">@res.Name</p>
        <p class="s2">@res.Content</p>
    }
</div>