@{
    ViewBag.Title = "Home Page";
}
<div>Forum</div>
<div id="auth_block">
    
    <hr/>
    @if (ViewBag.User == null){
        <form method="post">
            Логин:<input name="user_login" />
            Password:<input type="password" name="user_pass" />
            <button>Login </button>       
            <input type="button" value="Registration" onclick="window.location ='/User'" />
            <input type="button" value="Forgot password?" onclick="window.location ='/User'" />
            
        </form>
    } else{
        <span> Авторизован как @ViewBag.User.Nik</span><a href="?logout=1">Exit</a>

    }
   <h1>Themes</h1>
    @{ int n = 1;}
    <table>
        @foreach (var t in ViewBag.ThemesInfo)
        {
            <tr>
                <td  style="border:1px solid black">@n</td>
                <td  style="border:1px solid black" title="@t.theme.Description"><a href="/Theme/Index/@t.theme.Id">@t.theme.Title</a></td>
                <td  style="border:1px solid black">от @t.GetAuthor(ViewBag.Forum)</td>
                <td style="border:1px solid black">количество постов @t.GetPostCount(ViewBag.Forum)</td>
                @if (t.GetPostCount(ViewBag.Forum) == 0)
                {
                <td style="border:1px solid black">Постов еще небыло</td>
                }
                else{ 
                <td style="border:1px solid black">Последний пост от @t.LastPost(ViewBag.Forum)</td>
                }
</tr>
              n++;
        }        
    </table>
    @if (ViewBag.User != null)
    {
        <form method="post" action="~/Home/AddTheme">
            Тема:<input name="Title" required />
            Описание:<input name="Description" required />
            <button >Создать </button>  
        </form>
    }   
</div>
